@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

@media only screen and (max-width: 1200px), screen and (max-height: 1200px) {
    /*.single-recipe {
        
        max-width: 1200px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 100px;
        font-size: 90%;
        font-family: 'Rubik', sans-serif;
    }*/
    
    .single-recipe .mainIMG {
        border-radius: 8px;
       /* float: right;*/
        width: 200px;
        height: 200px;
        box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.53);

    }

   /* .single-recipe .logo {
        border: 3px solid gold;
        border-radius: 8px;
        padding: 10px;
        background-color: black;
    }
    
    .single-recipe .top-part {
        text-align: left;
        height: 600px;
    }
    
    .single-recipe .top-part .rating{
        display: flex;
        justify-content: left;
        align-items: left;
        margin-top: 45px;
        margin-bottom: 45px;
    }
    
    .single-recipe .informations {
        line-height: 50px;
        width: 800px;
        margin: auto;
        max-height: 400px;
        display: inline-grid;
        grid-template-columns: auto auto auto;
    }
    
    .single-recipe .recipeLabel {
        font-size: 300%;
        
    }

    .single-recipe .informations .recipeAuthor{
        padding: 15px;
    }
    
    .single-recipe .informations .type{
        padding: 15px;
    }
    
    .single-recipe .informations .mealType{
        padding: 15px;
    }
    
    .single-recipe .informations .prepTime{
        padding: 15px;
    }
    
    .single-recipe .informations .ingredients{
        padding: 15px;
    }
    
    .single-recipe .ingredientsDetails {
        clear: both;
        margin: auto;
        text-align: left;
    }
    
    .single-recipe .main-bar {
        width: 1200px;
        margin-bottom: 60px;
    }
    
    .single-recipe .little-bar {
        width: 550px;
    }
    
    .single-recipe .globalInfo {
        clear: both;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        background-color: beige;
        border-radius: 8px;
    }
    .single-recipe .globalInfo .column {
        margin-right: 10px;
    }*/

    .single-recipe .ratingsAndComments {
        text-align: left;
    }

    .single-recipe .ratingsAndComments .usrReaction .usrRating {
        margin-left: 20px;

    }


}

@media only screen and (min-width: 720px) {
    .single-recipe {
        
        max-width: 1200px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 100px;
        font-size: 90%;
        font-family: 'Rubik', sans-serif;
    }
    
    .single-recipe .mainIMG {
        border-radius: 8px;
        float: right;
        width: 400px;
        height: 400px;
        box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.53);

    }

    .single-recipe .logo {
        border: 3px solid gold;
        border-radius: 8px;
        padding: 10px;
        background-color: black;
    }
    
    .single-recipe .top-part {
        text-align: left;
        height: 600px;
    }
    
    .single-recipe .top-part .rating{
        display: flex;
        justify-content: left;
        align-items: left;
        margin-top: 45px;
        margin-bottom: 45px;
    }
    
    .single-recipe .informations {
        line-height: 50px;
        width: 800px;
        margin: auto;
        max-height: 400px;
        display: inline-grid;
        grid-template-columns: auto auto auto;
    }
    
    .single-recipe .recipeLabel {
        font-size: 300%;
        
    }

    .single-recipe .informations .recipeAuthor{
        padding: 15px;
    }
    
    .single-recipe .informations .type{
        padding: 15px;
    }
    
    .single-recipe .informations .mealType{
        padding: 15px;
    }
    
    .single-recipe .informations .prepTime{
        padding: 15px;
    }
    
    .single-recipe .informations .ingredients{
        padding: 15px;
    }
    
    .single-recipe .ingredientsDetails {
        clear: both;
        margin: auto;
        text-align: left;
    }
    
    .single-recipe .main-bar {
        width: 1200px;
        margin-bottom: 60px;
    }
    
    .single-recipe .little-bar {
        width: 550px;
    }
    
    .single-recipe .globalInfo .column {
        margin-right: 10px;
    }
}


@media only screen and (min-width: 1920px) {
    .single-recipe {
        
        max-width: 1400px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 100%;
        font-family: 'Rubik', sans-serif;
    }
    
    .single-recipe .mainIMG {
        border-radius: 8px;
        float: right;
        width: 500px;
        height: 500px;
        box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.53);

    }

    .single-recipe .logo {
        border: 3px solid gold;
        border-radius: 8px;
        padding: 10px;
        background-color: black;
    }
    
    .single-recipe .top-part {
        text-align: left;
        height: 600px;
    }
    
    .single-recipe .top-part .rating{
        display: flex;
        justify-content: left;
        align-items: left;
        margin-top: 45px;
        margin-bottom: 45px;
    }
    
    .single-recipe .informations {
        line-height: 50px;
        width: 800px;
        margin: auto;
        max-height: 400px;
        display: inline-grid;
        grid-template-columns: auto auto auto;
    }
    
    .single-recipe .recipeLabel {
        font-size: 300%;
        
    }

    .single-recipe .informations .recipeAuthor{
        padding: 15px;
    }
    
    .single-recipe .informations .type{
        padding: 15px;
    }
    
    .single-recipe .informations .mealType{
        padding: 15px;
    }
    
    .single-recipe .informations .prepTime{
        padding: 15px;
    }
    
    .single-recipe .informations .ingredients{
        padding: 15px;
    }
    
    .single-recipe .ingredientsDetails {
        clear: both;
        margin: auto;
        text-align: left;
    }
    
    .single-recipe .main-bar {
        width: 1400px;
        margin-bottom: 60px;
    }
    
    .single-recipe .little-bar {
        width: 550px;
    }
    

    .single-recipe .globalInfo .column {
        margin-right: 10px;
    }

    .single-recipe .ratingsAndComments {
        text-align: left;
    }

    .single-recipe .ratingsAndComments .usrReaction .usrRating {
        margin-left: 20px;

    }
}


@media only screen and (min-width: 2560px) {
    .single-recipe {
        
        max-width: 1400px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 130%;
        font-family: 'Rubik', sans-serif;
    }
    
    .single-recipe .mainIMG {
        border-radius: 8px;
        float: right;
        width: 500px;
        height: 500px;
        box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.53);

    }

    .single-recipe .logo {
        border: 3px solid gold;
        border-radius: 8px;
        padding: 10px;
        background-color: black;
    }
    
    .single-recipe .top-part {
        text-align: left;
        height: 600px;
    }
    
    .single-recipe .top-part .rating{
        display: flex;
        justify-content: left;
        align-items: left;
        margin-top: 45px;
        margin-bottom: 45px;
    }
    
    .single-recipe .informations {
        line-height: 50px;
        width: 800px;
        margin: auto;
        max-height: 400px;
        display: inline-grid;
        grid-template-columns: auto auto auto;
    }
    
    .single-recipe .recipeLabel {
        font-size: 300%;
        
    }

    .single-recipe .informations .recipeAuthor{
        padding: 15px;
    }
    
    .single-recipe .informations .type{
        padding: 15px;
    }
    
    .single-recipe .informations .mealType{
        padding: 15px;
    }
    
    .single-recipe .informations .prepTime{
        padding: 15px;
    }
    
    .single-recipe .informations .ingredients{
        padding: 15px;
    }
    
    .single-recipe .ingredientsDetails {
        clear: both;
        margin: auto;
        text-align: left;
    }
    
    .single-recipe .main-bar {
        width: 1400px;
        margin-bottom: 60px;
    }
    
    .single-recipe .little-bar {
        width: 550px;
    }

    .single-recipe .globalInfo .column {
        margin-right: 10px;
    }
}
/*
.single-recipe {
        
    max-width: 1400px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 130%;
    font-family: 'Rubik', sans-serif;
}

.single-recipe .mainIMG {
    border-radius: 8px;
    float: right;
    width: 500px;
    height: 500px;
}

.single-recipe .logo {
    border: 3px solid gold;
    border-radius: 8px;
    padding: 10px;
    background-color: black;
}

.single-recipe .top-part {
    text-align: left;
    height: 600px;
}

.single-recipe .top-part .rating{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 45px;
    margin-bottom: 45px;
}

.single-recipe .informations {
    line-height: 50px;
    width: 800px;
    margin: auto;
    max-height: 400px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.single-recipe .recipeLabel {
    font-size: 300%;
    
}

.single-recipe .informations .recipeAuthor{
    padding: 15px;
}

.single-recipe .informations .type{
    padding: 15px;
}

.single-recipe .informations .mealType{
    padding: 15px;
}

.single-recipe .informations .prepTime{
    padding: 15px;
}

.single-recipe .informations .ingredients{
    padding: 15px;
}

.single-recipe .ingredientsDetails {
    clear: both;
    margin: auto;
    text-align: left;
}

.single-recipe .main-bar {
    width: 1400px;
    margin-bottom: 60px;
}

.single-recipe .little-bar {
    width: 550px;
}

.single-recipe .globalInfo {
    clear: both;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: beige;
    border-radius: 8px;
}
.single-recipe .globalInfo .column {
    margin-right: 10px;
}*/


.backButton {
    appearance: button;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    column-gap: 1rem;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
  }
  
  .backButton:active {
    transform: scale(0.78);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 0px 0px 22px rgba(0.24, 0.24, 0.24, 0.24);
    /* Lowering the shadow */
  }

  .backButton:hover {
      transform: translateY(0.250rem);
  }
  
  .single-recipe .column {
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.53);
    clear: both;
    margin-bottom: 50px;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border-radius: 12px;
}

.main-bar {
    color: black;
}

.single-recipe .globalInfo {
    clear: both;
    display: flex;
    justify-content: center;
}

.testHor {
    max-width: 750px;
}

.usrRateAndComment {
    display: flex;
    
}

.usrReaction p {
    width: 100px;
}

.usrReaction .usrComment {
    width: 500px;
}

.usrReaction .reviewBar {
    margin-left: 20px;
    margin-right: 70px;
}

.column:active {
    transform: scale(0.95);
}

.single-recipe .directionsDetails {
    text-align: left;
}