
    .card{
        background-color:#6d342a;
        height: 200px;
        width: 200px;
    }
    
  .myuploads{
    color:#6d342a;
    background-color: beige;
    font-weight: 700;
    }
    
    